name: Build and Deploy Codelab

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build-and-deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Install claat
        run: go install github.com/googlecodelabs/tools/claat@latest

      - name: Export Codelab
        run: claat export git-github-codelab.md

      - name: Prepare Deployment
        run: |
          mkdir -p out
          # Move everything from the generated folder to the root of 'out'
          cp -r git-github-hackathon-codelab/* out/

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './out'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
